$color-primary: #ff6b6b;
$color-primary-light: #ff9e9e;
$color-primary-dark: #ff3838;

// $color-primary: #ff7675;
// $color-primary-light: #ffa9a8;
// $color-primary-dark: #ff3331;

$color-dark: #2d3436;
