$color-primary: #ff6b6b;
$color-primary-light: #ffc0c0;
$color-primary-dark: #ff3838;

// $color-primary: #ff7675;
// $color-primary-light: #ffa9a8;
// $color-primary-dark: #ff3331;

$color-dark: #2d3436;
$color-white: #fff;

$color-grey-light: #dfe6e9;
$color-grey-medium: #636e72;
$color-grey-dark: #1e272e;
