.header__container {
  background-image: linear-gradient(
      105deg,
      rgba($color-grey-light, 0.8) 0%,
      rgba($color-grey-light, 0.8) 50%,
      transparent calc(50% + 1px)
    ),
    url('../../assets/header-back.jpg');
  background-size: contain;

  position: relative;
  height: 30vh;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba($color-dark, 0.5);

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &-heading {
    color: transparent;
    background-image: linear-gradient(
      105deg,
      $color-dark 0%,
      $color-dark 54%,
      $color-grey-light 54%
    );
    background-clip: text;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }
}
