.header__container {
  background-color: #222f3e;
  position: relative;
  height: 30vh;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba($color-dark, 0.5);

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &-heading {
    color: transparent;
    background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    background-clip: text;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }
}
