.img__container {
  max-width: 1140px;
  margin: 1rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
  border-radius: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-light, 0.7)
    ),
    url('../../assets/main-back.jpg');
  background-size: cover;
  background-blend-mode: color-burn;

  & .img {
    width: 350px;
    grid-row-end: span 2;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
    transition: all 0.2s;

    &:active {
      outline: 1rem solid rgba($color-dark, 0.4);
      transform: scale(1.2);
      translate: (-0.5rem);
      border-radius: 0;
      z-index: 20;
    }
  }
}
