.search {
  &__form {
    &-input {
      width: 20rem;
      padding: 0.5rem;
      border-radius: 5rem;
      font-size: 1rem;
      color: $color-dark;
      background-color: #dfe6e9;
      border: none;
      outline: none;
      margin-bottom: 0.5rem;
      transition: all 0.2s;

      &:focus {
        transform: scale(1.1);
        background-color: #636e72;
        color: $color-primary;
        &::placeholder {
          color: $color-primary;
        }
      }
    }
  }
}
