.header__container {
  background-color: #2d3436;
  position: relative;
  height: 30vh;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba($color-dark, 0.5);

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &-heading {
    color: $color-primary;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 5px;
  }
}
